.kepek{
    max-width: 100%;
    height: 192px;
}
.figure-caption{
    text-align: center;
    background-color: grey;
    color: #000000 !important;
}
.figure{
    margin-top: 20px;
    border: grey 3px solid;
}
#secondrow{
    align-items: center;
}
.itemlist{
    margin: auto;
}